<h1>Stemwijzer</h1>
<form method="GET" action="/">
    <button type="submit">Home</button>
</form>
<hr>
{% if matchedParties %}
    <h2>Resultaat</h2>
    <p>Je komt het meest overeen met:</p>
    <strong>{{ matchedParties }}</strong>
{% else %}
<form method="POST" action="/form">
    {% for statement in statements %}
    <div>
        <h3><b>{{ statement.text }}</b></h3>

        {% for value in options %}
        <label>
            <input type="radio" name="statement_{{ statement.id }}" value="{{ value }}">
            {{ value }}
        </label>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
    <button type="submit">Verzenden</button>
</form>
{% endif %}

