<h1>Welkom bij de Kieswijzer {{ name }}</h1>

<p>Maak een keuze:</p>

{% if loggedIn %}
    <a href="/logout"><button>Uitloggen</button></a>
{% else %}
    <a href="/login"><button>Inloggen</button></a>
    <a href="/register"><button>Registreren</button></a>
{% endif %}

{% if isAdmin %}
    <a href="/admin"><button>Admin</button></a>
{% endif %}

{% if isParty %}
    <a href="/party"><button>Partij pagina</button></a>
{% endif %}

{% if isUser %}
    <a href="/form"><button>Kieswijzer invullen</button></a>
{% endif %}

